.header {
  width: 100%;
  padding: 20px 26px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header__left {
  font-size: 1.6rem;
  font-weight: 600;
  color: #0b4983;
  
  flex: 1;
}

.header__center {
  flex: 2;
  display: flex;
  justify-content: center;
}



.header__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
