/* Botão hambúrguer fixo no topo */
.hamburger-btn {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 2100;
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

/* Sidebar no desktop */
.sidebar-container {
  height: 100vh;
  background-color: #ffffff !important;
  border-right: 1px solid #eee;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1000;
  width: 80px;
  position: relative;
  overflow: hidden;
}

.sidebar-container.collapsed {
  width: 80px;
  position: relative;
  overflow: hidden;
}

.sidebar-container.expanded {
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  overflow: visible;
}

.sidebar-container.collapsed .pro-menu-item span {
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.sidebar-container.expanded .pro-menu-item span {
  width: 160px;
  opacity: 1;
  pointer-events: auto;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* Cabeçalho da sidebar */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

/* Menu item */
.pro-menu-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: #333;
}

.pro-menu-item a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.pro-menu-item:hover {
  border-radius: 10px;
  color: #08325c;
  cursor: pointer;
}

.pro-menu-item:hover svg {
  color: #08325c;
}

/* Logo */
.sidebar-logo {
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 120px;
  opacity: 1;
}

.sidebar-container.collapsed .sidebar-header .logoFull {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
}

/* ---------------- MOBILE MODE ---------------- */


.sidebar-container-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 2000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}


.sidebar-container-mobile.open {
  transform: translateX(0);
}


.sidebar-container-mobile .sidebar-menu {
  margin-top: 60px; 
}
