.hamburger-btn {
  display: none;
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 1100;
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
}

/* Estilos para a sidebar */
.sidebar-container {
  background-color: #ffffff;
  border-right: 1px solid #eee;
  height: 100vh;
  position: fixed; /* Usar fixed para ela ficar fixa ao rolar */
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1000;
  transition: all 0.3s ease;

}



.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
  }
}

  @media (max-width: 768px) {
    .sidebar-logo {
      display: none;
    }

  .sidebar-container {
    left: -250px;
  }

  .sidebar-container.open {
    left: 0;
  }


.pro-menu-item {
    width: 20px;
  display: flex;
  align-items: start;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  color: #333;

}

.pro-menu-item a {

  text-decoration: none;
  color: inherit;
  width: 100%;

}

.pro-menu-item:hover {
  border-radius: 10px;
  color: #08325c;
  cursor: pointer;
  transition: all;
}

.pro-menu-item:hover svg {
  color: #08325c;
}
};
