* {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container-default {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.container-default .product-form-container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  padding: 1rem;
  
}

.container-default .estoque-container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: none;
  padding: 1rem;
  min-height: 100vh;
}

.estoque-search input {
  width: 100%;
}

.container-usercomum {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  min-height: 100vh;
}

.container-usercomum .form-group {
  width: 100%;
}

.container-usercomum button.register {
  background-color: #093d66;
  color: #ffffff;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}